<a href="https://colab.research.google.com/github/PauloCHoynareski/Faculdade/blob/main/compreens%C3%A3o_de_lista_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Crie uma lista com os números de 1 a 10 usando compreensão de lista.

In [ ]:
X = [x for x in range (11)]
print (X)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Crie uma lista com os números ímpares de 1 a 50.

In [ ]:
y = [ y for y in range (51) if y % 2 != 0 ]
print(y)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

3. Crie uma lista com as letras maiúsculas de uma string qualquer.

In [ ]:
famosos = ['guido', 'linus', 'mark']
nomes_capitalizados = [nome.capitalize() for nome in famosos]
print(nomes_capitalizados)

['Guido', 'Linus', 'Mark']

4. Crie uma lista com o comprimento de cada palavra em uma string.

In [ ]:
palavras = 'Iremos te auxiliar '
contador = palavras.split()
comprimento = [len(palavras) for palavras in contador]
print(comprimento)

[6, 2, 8]

Crie uma lista com os números divisíveis por 3 e 5 de 1 a 30.

In [ ]:
Lista = [x for x in range (1,31) if x % 5 == 0 or x % 3 == 0]
print(Lista)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

Crie uma lista com as palavras de uma string que tenham mais de 3 letras.

In [ ]:
frase = 'Eu te amo para sempre'
contagem = frase.split()
calculo = [palavra for palavra in contagem if len(palavra) > 3]
print(calculo)

['para', 'sempre']

Crie uma lista com os números primos de 1 a 20. Dica: use uma função para
verificar se o número é primo ou não.

In [ ]:
# Função para verificar se um número é primo
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Lista de números primos de 1 a 20
primos = [x for x in range(1, 21) if is_prime(x)]

# Exibir a lista de números primos
print(primos)

[2, 3, 5, 7, 11, 13, 17, 19]

Crie uma lista com as datas de todos os dias de janeiro em um ano bissexto
(considerando que um ano bissexto é divisível por 4).

In [ ]:
ano = 2024

if (ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0):
    bissexto = True
else:
    bissexto = False

if bissexto:
    dias_janeiro = list(range(1, 32))
else:
  print("Erro")



print(f'DIAS DO ANO DO MÊS DE JANEIRO {dias_janeiro}')

DIAS DO ANO DO MÊS DE JANEIRO [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

Crie uma lista de strings com os primeiros 10 nomes da lista de nomes.

In [ ]:
lista = ['Paulo', 'Júlio', 'Lucas', 'Leandro']
produto = lista[:3]
print(produto)

['Paulo', 'Júlio', 'Lucas']

Crie uma lista de strings com os nomes dos primeiros 10 nomes da lista de
nomes, mas com as primeiras letras maiúsculas.

In [ ]:

lista = ['paulo', 'júlio', 'lucas', 'leandro']
produto = [nome.capitalize() for nome in lista [:2]]
print(produto)

['Paulo', 'Júlio']

Crie uma lista de strings com os nomes dos primeiros 10 nomes da lista de
nomes, mas sem as vogais.

In [ ]:
lista = ['paulo', 'júlio', 'lucas', 'leandro']
def remover_vogais(texto):
    return ''.join([char for char in texto if char.lower() not in 'aeiou'])

nomes_sem_vogais =  [remover_vogais(nome) for nome in nomes[:10]]


print(produto)

[]

In [ ]:
nomes = ['paulo', 'júlio', 'lucas', 'leandro', 'ana', 'maria', 'joão', 'carlos', 'elaine', 'andreia', 'fernanda']

# Função para remover as vogais de uma string
def remover_vogais(texto):
    return ''.join([char for char in texto if char.lower() not in 'aeiou'])

# Crie a lista de nomes sem vogais
nomes_sem_vogais = [remover_vogais(nome) for nome in nomes[:10]]

print(nomes_sem_vogais)

['pl', 'júl', 'lcs', 'lndr', 'n', 'mr', 'jã', 'crls', 'ln', 'ndr']

Concatenar elementos de sub-listas em uma única lista

In [3]:
lista_1 = [1,2,3,4,5,6,7,8]
lista_2 = [numero for numero in lista_1 ]
print(lista_2)

[1, 2, 3, 4, 5, 6, 7, 8]

Criar um dicionário a partir de duas listas

In [4]:
chaves = ['nome', 'idade', 'cidade']
valores = ['João', 30, 'São Paulo']

dicionario = dict(zip(chaves, valores))

print(dicionario)

{'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}